.navMain {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.profileBtn {
  font-size: 14px;
  font-weight: 700;
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  cursor: pointer;
}